*{ margin:0; padding:0;}

::-webkit-input-placeholder {color:#bdbdbd;}
::-moz-placeholder          {color:#bdbdbd;}/* Firefox 19+ */
:-moz-placeholder           {color:#bdbdbd;}/* Firefox 18- */
:-ms-input-placeholder      {color:#bdbdbd;}

/*********************************************************************************************/
/*********************************************************************************************/

body{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.btn {
    display: block;
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}
    .btn:hover {
        
    }

.text p {

}

/********************************* -- Text_STYLE -- ******************************************/
/********************************* -- Text_STYLE -- ******************************************/

h1 {
        
}

h2 {
    
}

h3 {
    
}

p {
   
}


/********************************* -- DOP_CLASS_ -- ********************************************/
/********************************* -- DOP_CLASS_ -- ********************************************/

.clear {
	clear: both;
}

.clearfix:after, .two_col:after {
    content: "";
    display: block;
    clear: both;
}
.two_col .col {
    width: 50%;
    float: left;
}
/******************************** -- Configuration -- *****************************************/
/******************************** -- Configuration -- *****************************************/
/******************************** -- Configuration -- *****************************************/
html, body {
    overflow-x: hidden;
}

div, p, section, header, footer, input, textarea, time, nav, article, form, ul, ol, select, h1, h2, h3 {
    box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

button:focus, input[type=submit], input[type=search], select:focus, textarea:focus { outline: none; }

a { text-decoration: none; }

textarea, input {
    border-radius: 0;
}

button, input[type=submit]{
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
} 

/******************************** -- Плавающая шапка -- *****************************************/
/******************************** -- Плавающая шапка -- *****************************************/
.b_fix {
    height: 1px;
    background: transparent;
    position: fixed;
    top: 0;
}
header {
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}
header.scroll {
    background: #000;
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}
    header.scroll .top_head {
        padding: 15px 0;
    }
/******************************** -- Плавающая шапка -- *****************************************/
/******************************** -- Плавающая шапка -- *****************************************/


/******************************** -- Моб.меню кнопка -- *****************************************/
/******************************** -- Моб.меню кнопка -- *****************************************/
.open_mob_menu {
    display: none;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: hidden;
}
    .open_mob_menu span, .open_mob_menu:before, .open_mob_menu:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 6px;
        background: #fff;
        left: 0;
        transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        z-index: 99999;
    } 
    .open_mob_menu span {
        top: 50%;
        margin-top: -3px;
    }
    .open_mob_menu:before, .open_mob_menu:after {
        content: "";
        -webkit-transform: rotate(0); 
        transform: rotate(0); 
        transform-origin: 0px 0px;
	    -ms-transform-origin: 0px 0px;
	    -webkit-transform-origin: 0px 0px;
	    -o-transform-origin: 0px 0px;
	    -moz-transform-origin: 0px 0px;
    }
    
    .open_mob_menu:before {top: 0;}
    .open_mob_menu:after {bottom: 0;}

    .open_mob_menu.active:before {
        top: 2px; left: 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .open_mob_menu.active:after {
        bottom: 2px; left: 3px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .open_mob_menu.active span {
        opacity: 0;
        left: -100%;
    }
/******************************** -- Моб.меню кнопка -- *****************************************/
/******************************** -- Моб.меню кнопка -- *****************************************/


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
@media (max-width: 991px){
    .container {
    }

/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
.open_mob_menu {
    display: block;
    float: left;
}
.open_mob_menu.active:before, .open_mob_menu.active:after {
    background: #fff;
    z-index: 99999;
}
    header .row {
        position: fixed;
        top: 100%;
    }
        header .row.active {
            top: 0;
            left: 0;
            overflow: hidden;
            background: #011128;
            width: 50%;
            height: 100%;
        }
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
    
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
@media (max-width: 767px){
    .container {
    }
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
    
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
   
   
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
@media (max-width: 480px){
    
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */ 
}
@media (max-width: 320px){
    
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */
/* -----------------------mob_menu_width------------------------------------- */ 
}







